{% extends "base.html" %}

{% block content %}
<div class="mb-card card_centered">
    <div class="mb-card_header">Что-то не так...</div>
    <div class="mb-card_body">
    <p class="error_txt">
        {% if err_txt %}
            {{ err_txt }}
        {% else %}
            Запрашиваемая страница не найдена
        {% endif %}
    </p>
    </div>
    <div class="mb-card_footer">
        <div></div>
        <a href="{% url 'index' %}" class="link">На главную</a>
    </div>
</div>
{% endblock %}