{% extends "base.html" %}
{% block content %}

    <div class="mb-card card_centered" style="background: #fff">
        <form action="create-item" method="POST">
        {% csrf_token %}
        <div class="mb-card_header">Выберите тип верификации</div>
        <div class="mb-card_body">
            <input type="hidden" name="create_stage" value="{{create_stage}}">
            <select name="item_type" v-model='itemType'>
            {% if user.extendeduser.user_role.role_lvl < 3 %}
                <option>Короткая заявка</option>
            {%endif%}
            {% if user.extendeduser.user_role.role_name != "HR" %}
                <option>Партнер</option>
                <option>Агент</option>
            {% endif %}
            {% if user.extendeduser.user_role.role_name == "HR" or user.extendeduser.user_role.role_name == "admin" %}
                <option>Сотрудник</option>
            {% endif %}
                <option>Контрагент</option>
            </select>
        </div>
        <div class="mb-card_footer">
            <div class="mb-card_footer_left"></div>
            <button type="submit" class="btn_prim">Далее</button>
        </div>
        </form>
    </div>

{% endblock %}