{% extends "base.html" %}
{% block content %}
<div class="mb-card card_centered">
    <form action="create-item" method="POST">
    {% csrf_token %}
    <div class="mb-card_header">Выберите тип верификации</div>
    <div class="mb-card_body">
        <select name="item_type" v-model='itemType'>
        {% if user.extendeduser.user_role.role_name != "HR" %}
            <option>Партнер</option>
            <option>Агент</option>
        {% endif %}
        {% if user.extendeduser.user_role.role_name == "HR" or user.extendeduser.user_role.role_name == "Admin" %}
            <option>Штатный сотрудник</option>
        {% endif %}
            <option>Контрагент</option>
        </select>
    </div>
    <div class="mb-card_footer">
        <button type="submit">Далее</button>
    </div>
    </form>
</div>
{% endblock %}