{% extends "base.html" %}
<!-- карточный ЛК. ПОДУМАТЬ!!! Разные index'ы по ролям (вопрос отличий) -->
{% block content %}
<div class="component_wrapper">
    <form method="post" action="{% url 'find-vitem' %}">
        {% csrf_token %}
        <div class="mb-card">
            <div class="mb-card_header">Поиск заявки на верификацию</div>
            <div class="mb-card_body">
                <div class="input_wrapper">
                    <input type="text" class="form-control" name="person" placeholder="Физ.лицо">
                </div>
                <div class="input_wrapper">
                    <input type="text" class="form-control" name="organization" placeholder="Организация">
                </div>
            </div>
            <div class="mb-card_footer">
                <div class="mb-card_footer_left"></div>
                <button type="submit" class="btn_std">Найти</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}