{% extends "base.html" %}
<!-- карточный ЛК. ПОДУМАТЬ!!! Разные index'ы по ролям (вопрос отличий) -->
{% block content %}
<div class="component_wrapper">
    <form method="post" action="{% url 'find-vitem' %}">
        {% csrf_token %}
        <div class="mb-card">
            <div class="mb-card_header">Поиск заявки на верификацию</div>
            <div class="mb-card_body">
                <div class="input_wrapper">
                    <input type="text" class="form-control" name="person" placeholder="Физ.лицо">
                </div>
                <div class="input_wrapper">
                    <input type="text" class="form-control" name="organization" placeholder="Организация">
                </div>
            </div>
            <div class="mb-card_footer">
                <div class="mb-card_footer_left"></div>
                <button type="submit" class="btn_std">Найти</button>
            </div>
        </div>
    </form>
    <!-- <div class="mb-card">
        <div class="mb-card_header">Последние сообщения</div>
        <div class="mb-card_body">
            {% for msg in chat_messages %}
                {% ifchanged msg.vitem.id %}
                <div class="input_wrapper grid_row input_wrapper">
                    <a href="{% url 'vitem' vitem_id=msg.vitem.id%}" class="link">{{msg.vitem}}</a>
                </div>
                {% endifchanged %}
                <div class="chatbox_chat-window" style="overflow-y: visible;">
                    <div class="chatbox_chat-message to-msg" style="max-width: 100%">
                        <p class="msg-header">{{ msg.created|date:'d.m.Y H:i:s' }}, {{ msg.author }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div> -->
</div>
{% endblock %}