{% extends "base.html" %}
<!-- карточный ЛК. ПОДУМАТЬ!!! Разные index'ы по ролям (вопрос отличий) -->
{% block content %}
<div class="index-grid">
    <div class="component_wrapper" style="grid-area: search;">
        <form method="post" action="{% url 'find-vitem' %}" style="width: 100%;">
            {% csrf_token %}
            <div class="mb-card">
                <div class="mb-card_header">Поиск заявки на верификацию</div>
                <div class="mb-card_body">
                    <div class="input_wrapper">
                        <input type="text" class="form-control" name="search_str" placeholder="Поиск заявки на верификацию">
                    </div>
                </div>
                <div class="mb-card_footer">
                    <div class="mb-card_footer_left"></div>
                    <button type="submit" class="btn_std">Найти</button>
                </div>
            </div>
        </form>
    </div>
    <div class="component_wrapper" style="grid-area: report;">
        <form method="post" action="{% url 'export' %}" style="width: 100%;">
            {% csrf_token %}
            <div class="mb-card">
                <div class="mb-card_header">Отчеты</div>
                <div class="mb-card_body">
                    <div class="input_wrapper">
                        <select name="report_name">
                            <option value="None" disabled selected>Выберите отчет</option>
                            <option value="vitems">Все заявки</option>
                            <option value="persons">Физ.лица</option>
                            <option value="organizations">Организации</option>
                        </select>
                    </div>
                </div>
                <div class="mb-card_footer">
                    <div class="mb-card_footer_left"></div>
                    <button type="submit" class="btn_std">Скачать</button>
                </div>
            </div>
        </form>
    </div>
    <div class="component_wrapper" style="grid-area: stats; height: 250px; justify-self: center;">
        <div class="mb-card" id="vueStats">
            <div class="mb-card_header">Распределение</div>
            <div class="mb-card_body" style="flex-direction: row; align-items: flex-end; margin: 10px; justify-content: space-around;">
                <div v-for="block in activeHyst" v-bind:style="{height: 'calc(' + block.h + '% - 10px)'}" class="hyst-block">
                    {block.name}: {block.count}
                    <span class="hyst-block_hint">Количество: {block.count}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="component_wrapper" style="grid-area: chat; overflow-y: auto;">
        <div class="mb-card" style="width: 100%">
            <div class="mb-card_header">Последние сообщения</div>
            <div class="mb-card_body">
                <div class="chatbox_chat-window">
                    {% for msg in chat_messages %}
                        <div class="chatbox_chat-message to-msg">
                            <a href="{% url 'vitem' vitem_id=msg.vitem.id %}">
                                <p><u><b>{{msg.vitem}}</b></u></p>
                                <div style="padding: 0.25rem;"></div>
                                <p class="msg-body">{{ msg.msg }}</p>
                                <p class="msg-footer">{{ msg.created }} | {{ msg.author }}</p>
                            </a>
                        </div>
                    {% endfor %}
                    <div style="padding: 0.5rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#vueStats',
        delimiters: ['{', '}'],
        data: {
            hyst: [
                {name: 'Всего заявок', count: "{{ stats.q_not_closed.count }}", h: "{{stats.q_not_closed.count}}"/"{{stats.q_not_closed.count}}"*100, maxAccessLvl: 5},
                {name: 'Новые', count: "{{ stats.q_new.count }}", h: Number("{{stats.q_new.count}}")/Number("{{stats.q_not_closed.count}}")*100, maxAccessLvl: 3},
                {name: 'Недозаполненные',count: "{{ stats.q_not_filled.count }}", h: Number("{{stats.q_not_filled.count}}")/Number("{{stats.q_not_closed.count}}")*100, maxAccessLvl: 5},
                {name: 'В работе', count: "{{ stats.q_at_work.count }}", h: Number("{{stats.q_at_work.count}}")/Number("{{stats.q_not_closed.count}}")*100, maxAccessLvl: 5},
                {name: 'На доработке',count: "{{ stats.q_to_fix.count }}", h: Number("{{stats.q_to_fix.count}}")/Number("{{stats.q_not_closed.count}}")*100, maxAccessLvl: 5},
            ],
        },
        computed:{
            activeHyst: function(){
                return this.hyst.filter(function(u){
                    return u.maxAccessLvl >= Number('{{user.extendeduser.user_role.role_lvl}}')
                })
            }
        },
        methods:{
            
        }
    });
</script>
{% endblock %}