{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mb-card card_centered" style="background: #fff" id="search-form">
    <form action="create-item" method="POST">
    {% csrf_token %}
    <div class="mb-card_header">Введите данные для поиска</div>
    <div class="mb-card_body">
        <input type="hidden" name="item_type" v-model='itemType'>
        <input type="hidden" name="create_stage" v-model='createStage'>
        <div v-if="itemType=='Агент' || itemType=='Штатный сотрудник'" style="display: flex; flex-direction: column;">
            <input class="form_input" type="text" name="sneals" placeholder="СНИЛС" v-mask="'###-###-### ##'" v-model='sneals' pattern=".{14,}" title="Номер СНИЛС (14 символов)">
        </div>
        <div v-if="itemType=='Партнер' || itemType=='Контрагент'" style="display: flex; flex-direction: column;">
            <input class="form_input" type="text" name="inn" placeholder="ИНН" v-model="inn" v-mask="'############'"
                pattern=".{0}|.{10,12}" title="ИНН должен содержать от 10 до 12 символов" required>
            <input class="form_input" type="text" name="ogrn" placeholder="ОГРН" v-model="ogrn"
                v-mask="'###############'" pattern=".{0}|.{13,15}" title="ОГРН должен содержать от 13 до 15 символов">
        </div>
    </div>
    <div class="mb-card_footer">
        <div class="mb-card_footer_left"></div>
        <button type="submit" class="btn_prim">Найти</button>
    </div>
    </form>
</div>
<script src="{% static 'js/v-mask.min.js' %}"></script>
<script>
    Vue.use(VueMask.VueMaskPlugin);
    var app = new Vue({
        el: '#search-form',
        delimiters: ['{', '}'],
        data: {
            itemType: '{{item_type}}',
            createStage: '{{create_stage}}',
            sneals: '',
            inn: '',
            ogrn: '',
        },
    })
</script>
{% endblock %}