{% extends "base.html" %}

{% block content %}


<div class="card" style="align-self: center;">
<form method="post" action="{% url 'login' %}">
	<div class="card_header">Авторизация</div>
	<div class="card_body">
		{% csrf_token %}
		{% if form.errors %}
			<p>Неверный логин и/или пароль</p>
		{% endif %}
		<div class="input_wrapper">
			<input type="text" name="username" placeholder="Логин">
		</div>
		<div class="input_wrapper">
			<input type="password" name="password" placeholder="Пароль">
		</div>
	</div>
	<div class="card_footer">
		<button type="submit">Войти</button>
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form>
</div>
{% endblock %}