{% extends "base.html" %}

{% block content %}


<div class="mb-card card_centered" style="align-self: center;">
<form method="post" action="{% url 'login' %}">
	<div class="mb-card_header">Авторизация</div>
	<div class="mb-card_body">
		{% csrf_token %}
		{% if form.errors %}
			<p class="error_txt">Неверный логин и/или пароль</p>
		{% endif %}
		<div class="input_wrapper">
			<input type="text" name="username" class="form-control" placeholder="Логин">
		</div>
		<div class="input_wrapper">
			<input type="password" name="password" class="form-control" placeholder="Пароль">
		</div>
	</div>
	<div class="mb-card_footer">
		<div class="mb-card_footer_left"></div>
		<button type="submit" class="btn_prim">Войти</button>
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form>
</div>
{% endblock %}