*{margin: 0;padding: 0;}
body{
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar mainbox";
    grid-template-columns: min-content 1fr;
    grid-template-rows: minmax(1px, 5%) 1fr;
    font-family: Arial, Helvetica, sans-serif;
}
.error_txt{
    font-size: 14px;
    color: #d63200;
}
:hover, :focus{
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: #212529;
}
a.link:hover{
    text-decoration: underline;
}
button, input, select, textarea{
    outline: none;
    text-decoration: none;
    border: none;
    background: none;
}
button{
    display: flex;
    padding: 0.3rem 1rem;
    background: #1867c0;
    cursor: pointer;
    color: #fff;
}
button:hover{background: #1866c0cc;}
button:active{background: #175eaf;}

input, select, textarea{
    border-bottom: 1px solid #ced4da;
    padding: 0.2rem 0.5rem;
}

input:focus, select:focus, textarea:focus{
    border-bottom: 1px solid #1866c0b4;
}
.wide_textarea{
    min-width: 250px;
}
.input_wrapper{margin: 0.3rem 0.2rem;display: flex;flex-direction: column;}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1867c0;
    color: #fff;
    padding: 5px 15px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
header a {color: #fff;}
aside.sidebar{
    grid-area: sidebar;
    border-right: 1px solid #6d6d6d;
    display: flex;
    flex-direction: column;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
}
.sibar-menu_item{
    display: block;
    padding: 0.5rem 0.8rem;
    color: #212529;
}
.sibar-menu_item:hover{
    background: #1867c0;
    color: #fff;
}
.sibar-menu_item.active{
    background: #1867c0;
    color: #fff;
}

.mainbox{
    grid-area: mainbox;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.component_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.mb-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-width: 250px;
    width: min-content;
}
.card_centered{
    align-self: center;
}
.mb-card_header{
    display: flex;
    min-height: 20px;
    border-bottom: 1px solid #ced4da;
    background: #1867c0;
    color: #fff;
    align-items: center;
    padding: 0.3rem;
}

.mb-card_body{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.8rem 0.3rem;
}
.mb-card_footer{
    display: flex;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ced4da;
    padding: 0.3rem;
}

.card_body-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}
.card_body-form_column{
    display: flex;
    flex-direction: column;
}
.form_input{
    margin: 0.3rem 0.2rem;
}
.form_input-group{
    display: flex;
}