*{margin: 0;padding: 0;}
body{
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar mainbox";
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(1px, 5%) 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #212529;
}
.error_txt, .errorlist>li{
    font-size: 12px;
    color: #d63200;
    list-style: none;
}
:hover, :focus{
    transition: 0.15s;
}
a{
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}
a.link:hover{
    text-decoration: underline;
}
button, input, select, textarea{
    outline: none;
    text-decoration: none;
    border: none;
    background: none;

}
button{
    display: flex;
    padding: 0.3rem 1rem;
    background: none;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #212529;
    width: max-content;
}
.white-text{
    color: #fff;
}
/* button:hover{background: #859fb59c;} */
button:hover{filter: brightness(1.2);}
button:active{filter: brightness(0.85);}
.btn_std{background: #859fb5;color: #fff;}
.btn_prim{background: #3b7fbb;color: #fff;}
.btn_warn{background: #e64141;color: #fff;}
.btn_suc{background: #399b36;color: #fff;}

input, select, textarea{
    /* width: max-content; */
    border-bottom: 1px solid #ced4da;
    padding: 0.2rem 0.5rem;
}

input:focus, select:focus, textarea:focus{
    border-bottom: 1px solid #303b4498;
}
.wide_textarea{
    min-width: 250px;
}
.input_wrapper{margin: 0.3rem 0.2rem;display: flex;flex-direction: column;}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #303b44;
    color: #fff;
    padding: 5px 15px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
header a {color: #fff;}
aside.sidebar{
    grid-area: sidebar;
    border-right: 1px solid #6d6d6d;
    display: flex;
    flex-direction: column;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
}
.sibar-menu_item{
    display: block;
    padding: 0.5rem 0.8rem;
    color: #212529;
}
.sibar-menu_item:hover{
    background: #859fb5;
    color: #fff;
}
.sibar-menu_item.active{
    background: #859fb5;
    color: #fff;
    box-shadow: inset 0px -4px 6px -5px #3b3b3b;

}
.main-fixed-box{
    grid-area: mainbox;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.mainbox{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    
}
.component_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.component_wrapper>*{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.component_wrapper>*:nth-last-child(1){
    margin-right: 0;
}

.mb-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-width: max-content;
    width: 250px;
}
.card_centered{
    align-self: center;
}
.mb-card_header{
    display: flex;
    min-height: 20px;
    border-bottom: 1px solid #ced4da;
    background: #303b44;
    color: #fff;
    align-items: center;
    padding: 0.3rem;
}

.mb-card_body{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.8rem 0.3rem;
}
.card_body-form{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    min-width: max-content;
}
.card_body-form_column{
    display: flex;
    flex-direction: column;
}
.mb-card_body.char_view{
    overflow-y: auto;
}
.mb-card_body_comment{
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.3rem;
}
.mb-card_errors{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem;
}
.mb-card_footer{
    display: flex;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ced4da;
    padding: 0.3rem;
}
.mb-card_footer_left{
    width: 100%;
}

.form_input{
    margin: 0.3rem 0.2rem;
}
.form_input-group{
    display: flex;
}
.grid_row{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-gap: 1rem;
    border-bottom: 1px solid #ced4da;
}
.vitem_form_fields{
    max-width: 250px;
    font-style: italic;
}
/* simple table styles */
table {width: 100%; text-align: center; border-bottom: 2px solid #ced4da; border-collapse: separate; border-spacing: 0px;}
table thead tr {color: #fff; background: #303b44;}
table tr td {border-right: 1px solid #ced4da;}
table tr td:last-child {border-right: 0px;}
table tbody tr:nth-child(1n) {background: #f6f6f6;}
table tbody tr:nth-child(2n) {background: #e6e6e6;}
table tbody tr:hover {background: #303b445e; transition-duration: 0.2s;}
th, td{
    padding: 5px 10px;
}
.sep-tr, .sep-tr td{
    color: #d63200;
    background: #fff;
}
/*  */

/* grid card vitem */
.scrolling_wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    justify-content: stretch;
}
.gcard_vitem-view{
    display: grid;
    grid-template-areas: 
        "form-header form-header"
        "itemform chatbox"
        "form-table chatbox";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr minmax(20%, max-content);
    grid-gap: 0.3rem;
    max-height: 100%;
    width: 100%;
    border: 1px solid #ced4da;
    
}
.gcard_vitem-view_header{
    grid-area: form-header;
    display: flex;
    background: #303b44;
    color: #fff;
    min-height: 20px;
    align-items: center;
    padding: 0.3rem;
}

.gcard_vitem-view_itemform{
    grid-area: itemform;
    overflow-y: auto;
}
.itemform_controls{
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.3rem;
    border-top: 1px solid #ced4da;
}
.itemform_controls_row{
    display: flex;
    align-items: center;
}
.itemform_controls_row.spb{
    justify-content: space-between;
}
.spb-bordered{
    border-bottom: 1px solid #ced4da;
}
.itemform_controls_row_btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.itemform_controls_row_item{
    display: flex;
    align-items: center;
}
.vitem_dias-legend{
    font-weight: bold;
}
.growing_block{
    flex: 1;
}
.multitab-form{
    display: flex;
    flex-direction: row;
}
.multitab-form_buttons{
    border-right: 1px solid #ced4da;
}
.gcard_vitem-view_table{
    grid-area: form-table;
    overflow-y: auto;
}
.gcard_vitem_chatbox{
    grid-area: chatbox;
    max-height: 100%;

    display: flex;
    flex-direction: column;
}
.chatbox_chat-window{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chatbox_chat-message{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0.5rem 0.2rem;
    max-width: 80%;
    margin-bottom: 0.3rem;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
}
.from-msg{
    align-items: flex-end;
    align-self: flex-end;
    background: #f4faff8a;
}
.to-msg{
    align-items: flex-start;
    align-self: flex-start;
    background: #b5ddff8a;
}
.msg-header, .msg-footer{
    font-style: italic;
    font-size: 10px;
    color: #6d6d6d;
}
.msg-body{
    
}
.chatbox_input_area{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #ced4da;
}
.txt_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.2rem;
}
/*  */

.modal_form{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3a3a3a4f;
    width: 100%;
    height: 100%;
}