{% extends "base.html" %}
{% block content %}
<div class="mb-card card_centered" id="vuePart">
    <form action="" method="post">
    {% csrf_token %}
    <div class="mb-card_header">{{page_title}}</div>
    <div class="mb-card_body card_body-form">
        <div class="card_body-form_column">
            <select name="org_form" required>
                <option value="Организационная форма" disabled selected>Организационная форма</option>
                <option value="ИП">ИП</option>
                <option value="АО">АО</option>
                <option value="ООО">ООО</option>
                <option value="ОАО">ОАО</option>
                <option value="ПАО">ПАО</option>
            </select>
            <input class="form_input" type="text" name="full_name" placeholder="Название" required value={%if form.full_name.value %}{{form.full_name.value}}{%endif%}>
            <input class="form_input" type="text" name="inn" placeholder="ИНН" v-model="inn" v-mask="'############'" minlength="10" maxlength="12" pattern=".{0}|.{10,12}" title="ИНН должен содержать от 10 до 12 символов">
            <input class="form_input" type="text" name="ogrn" placeholder="ОГРН" v-model="ogrn" v-mask="'###############'" pattern=".{0}|.{13,15}" title="ОГРН должен содержать от 13 до 15 символов">
            <input class="form_input" type="text" name="phone_number" placeholder="Телефон" v-mask="'###########'" v-model='phone'>
            <input class="form_input" type="email" name="email" placeholder="Email" value={%if form.email.value %}{{form.email.value}}{%endif%}>
        </div>
        <div class="card_body-form_column">
            <textarea class="form_input wide_textarea" type="text" name="adr_reg" placeholder="Адрес регистрации" required>{%if form.adr_reg.value %}{{form.adr_reg.value}}{%endif%}</textarea>
            <textarea class="form_input wide_textarea" type="text" name="adr_fact" placeholder="Фактический адрес">{%if form.adr_fact.value %}{{form.adr_fact.value}}{%endif%}</textarea>
        </div>
        {%if organization_wr %}
            <input type="hidden" name="id" value="{{organization_wr.organization.id}}">
            <input type="hidden" name="author" value="{{organization_wr.organization.author.id}}">
        {% else %}
            <input type="hidden" name="author" value="{{request.user.extendeduser.id}}">
        {% endif %}
    </div>
    {% if form.errors %}
    <div class="mb-card_errors">
        {% for field in form %}
            {% if field.errors %}
            <p class="error_txt">{{ field.label }}: <i>{{ field.errors }}</i></p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="mb-card_footer">
        <div class="mb-card_footer_left"></div>
        <button type="submit" class="btn_prim">Сохранить</button>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

<script>
    Vue.use(VueMask.VueMaskPlugin);
    var app = new Vue({
        el: '#vuePart',
        delimiters: ['[{', '}]'],
        data: {
            inn: '',
            ogrn: '',
            phone: '',
        },
    });
    
</script>
{% endblock %}