{% block person_form %}
    <div class="multitab-form_buttons">
        <a class="sidebar-menu_item" v-bind:class="{ active: currentPersTab=='Person'}" @click="changePersTab('Person')">Физ.лицо</a>
        <!-- <a class="sidebar-menu_item" v-bind:class="{ active: currentPersTab=='personScan'}" @click="changePersTab('personScan')">Сканы</a> -->
        <div class="top-border"></div>
        <div class="hint-box_unfilled">
            {% if owr_href %}
                <div class="input_wrapper"><a class="link" href="{% url owr_href.view obj_id=owr_href.view_id%}">Перейти к организации</a></div>
            {% endif %}
            <div class="input_wrapper">
            {% if owr_href or vitem_ready and vitem_id %}
                <i>Заявка заполнена</i>
            {% else %}
                Осталось заполнить:
                {% for field in unfilled %}
                    <p class="error_txt form_input"><i>{{ field }}</i></p>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="hint-box_roles">
            <p class="form_input">Роли:</p>
            {% for role in roles %}

                {% if role.role in request.path %}
                    <p class="form_input"><i>{{role.role_name}} ({{role.owr}})</i></p>
                {% else %}
                    {% if role.role in 'ceo, ben' %}
                        <p class="form_input"><a href="{% url 'detailing-'|add:role.role owr_id=role.owr.id obj_id=role.role_id %}" class="link">{{role.role_name}} ({{role.owr}})</a></p>
                    {% else %}
                        <p class="form_input"><a href="{% url 'detailing-'|add:role.role obj_id=role.role_id %}" class="link">{{role.role_name}} ({{role.owr}})</a></p>
                    {% endif %}
                    {% endif %}
            {% endfor %}
        </div>
    </div>
    <form action="" method="post" id="personForm" v-show="currentPersTab=='Person'">
        {% csrf_token %}
        <div class="mb-card_body card_body-form">
            <div class="card_body-form_column">
                {% if 'ben' not in request.path and 'ceo' not in request.path %}
                <select name="related_manager" class="form_input" {% if "related_manager" in req_fields %}required{%endif%}>
                    <option value="0" selected disabled>Менеджер</option>
                    {% for mngr in mngr_list %}
                        <option value="{{ mngr.id}}" {% if pwr.related_manager.id == mngr.id  %} selected {% endif %}>{{mngr}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                {% if 'staff' in request.path %}
                    <select name="staff_dep" class="form_input" {% if "staff_dep" in req_fields %}required{%endif%}>
                        <option value="0" selected disabled>Отдел</option>
                        {% for dep in departments %}
                            <option value="{{ dep.id}}" {% if pwr.person.staff_dep.id == dep.id  %} selected {% endif %}>{{dep}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if 'agent' in request.path %}
                <select name="partnership_status" class="form_input" {% if "partnership_status" in req_fields %}required{%endif%}>
                    <option value="" disabled selected>Статус сотрудничества</option>
                    {%for p_status in partnership_statuses %}
                        <option value="{{p_status.id}}" {%if pwr.partnership_status.id == p_status.id %}selected{%endif%}>{{p_status}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <input class="form_input" type="text" name="last_name" placeholder="Фамилия" {% if "last_name" in req_fields %}required{%endif%} value="{%if form.last_name.value %}{{form.last_name.value}}{%endif%}">
                <input class="form_input" type="text" name="first_name" placeholder="Имя" {% if "first_name" in req_fields %}required{%endif%} value="{%if form.first_name.value %}{{form.first_name.value}}{%endif%}">
                <input class="form_input" type="text" name="patronymic" placeholder="Отчество" {% if "patronymic" in req_fields %}required{%endif%} value="{%if form.patronymic.value %}{{form.patronymic.value}}{%endif%}">
                <input class="form_input" type="text" name="prev_fio" placeholder="Предыдущие ФИО" {% if "prev_fio" in req_fields %}required{%endif%} value="{%if form.prev_fio.value %}{{form.prev_fio.value}}{%endif%}">
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="dob" {% if "dob" in req_fields %}required{%endif%} placeholder="Дата рождения" value="{%if form.dob.value %}{{form.dob.value|date:"d.m.Y"}}{%endif%}">
                <input class="form_input" type="text" name="pob" placeholder="Место рождения" {% if "pob" in req_fields %}required{%endif%} value="{%if form.pob.value %}{{form.pob.value}}{%endif%}">
                <input class="form_input" type="text" name="sneals" placeholder="СНИЛС" v-mask="'###-###-### ##'" v-model='sneals' {%if owr.organization.org_form == "ИП" and 'ceo' in request.path or "sneals" in req_fields %}required{%endif%} pattern=".{14,}" title="Номер СНИЛС (14 символов)">
                <textarea class="form_input wide_textarea" type="text" name="adr_reg" placeholder="Адрес регистрации" {% if "adr_reg" in req_fields %}required{%endif%}>{%if form.adr_reg.value %}{{form.adr_reg.value}}{%endif%}</textarea>
            </div>
            <div class="card_body-form_column">
                {% if owr %}
                    <input type="hidden" name="related_organization" value="{{owr.organization.id}}">
                {% else %}
                    <select name="related_organization" class="form_input" {% if "related_organization" in req_fields %}required{%endif%}>
                            <option value="0" selected disabled>Организация</option>
                        {% for org in org_list %}
                            <option value="{{ org.organization.id }}" {% if pwr.related_organization.id == org.organization.id  %} selected {% endif %}>{{org.organization.full_name}}, {{org.role}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if 'staff' in request.path %}
                <input class="form_input" type="text" name="staff_position" placeholder="Должность" {% if "staff_position" in req_fields %}required{%endif%} value="{%if form.staff_position.value %}{{form.staff_position.value}}{%endif%}">
                {% endif %}
                {% if 'agent' in request.path %}
                <select name="product_type" class="form_input" {% if "product_type" in req_fields %}required{%endif%}>
                    <option value="" disabled selected>Тип продуктов</option>
                    {%for p_type in product_types%}
                        <option value="{{p_type.id}}" {%if pwr.product_type.id == p_type.id %}selected{%endif%}>{{p_type}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <input class="form_input" type="text" name="city" placeholder="Город" {% if "related_organization" in req_fields %}required{%endif%} value="{%if form.city.value %}{{form.city.value}}{%endif%}">
                <div class="itemform_controls_row">
                    <input class="form_input" type="text" style="flex: 1;" name="phone" placeholder="Телефон" v-model="phone" readonly autocomplete="off">
                    <input class="form_input" style="flex: 1;position: absolute;opacity: 0;z-index: -1;" name="phone_number" type="text" v-model="phone" {% if "phone_number" in req_fields %}required{%endif%} autocomplete="off">
                    <div class="input_wrapper"><button type="button" class="btn_suc" v-on:click="openAddPhoneNumber()">+</button></div>
                    <div class="input_wrapper"><button type="button" class="btn_warn" v-on:click="clearPhoneNumber()">X</button></div>
                </div>
                <input class="form_input" type="email" name="email" placeholder="Email" {% if "email" in req_fields %}required{%endif%} value="{%if form.email.value %}{{form.email.value}}{%endif%}">
                <input class="form_input" type="text" name="pass_sn" placeholder="Серия/номер паспорта" {% if "pass_sn" in req_fields %}required{%endif%} v-mask="'#### ######'" v-model='pass_sn' {%if not owr%}required{%endif%} pattern=".{11,}" title="Серия и номер паспорта (11 символов)">
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="pass_date" placeholder="Дата выдачи" {% if "pass_date" in req_fields %}required{%endif%} value="{%if form.pass_date.value %}{{form.pass_date.value|date:"d.m.Y"}}{%endif%}">
                <input class="form_input" type="text" name="pass_org" placeholder="Кем выдан" {% if "pass_org" in req_fields %}required{%endif%} value="{%if form.pass_org.value %}{{form.pass_org.value}}{%endif%}">
                <input class="form_input" type="text" name="pass_code" placeholder="Код подразделения" {% if "pass_code" in req_fields %}required{%endif%} v-mask="'###-###'" v-model='pass_code' pattern=".{7,}" title="Код подразделения (7 символов)">
                <textarea class="form_input wide_textarea" type="text" name="adr_fact" placeholder="Адрес проживания" {% if "adr_fact" in req_fields %}required{%endif%}>{%if form.adr_fact.value %}{{form.adr_fact.value}}{%endif%}</textarea>
            </div>
            <input type="hidden" name="role" value="{{pwr_role}}">
            {%if pwr %}
                <input type="hidden" name="id" value="{{pwr.person.id}}">
                <input type="hidden" name="author" value="{{pwr.person.author.id}}">
            {% else %}
                <input type="hidden" name="author" value="{{user.extendeduser.id}}">
            {% endif %}
            {%if owr %}
                <input type="hidden" name="owr_id" value="{{owr.id}}">
            {% endif %}
        </div>
        <div class={% if 'agent' in request.path %}"card_body-form"{%else%}"card_body"{%endif%}>
            <div class="card_body-form_column">
                <textarea class="form_input" name="media_folder" placeholder="Папка физ.лица" {% if "media_folder" in req_fields %}required{%endif%}>{{form.media_folder.value}}</textarea>
            </div>
            {% if 'agent' in request.path %}
            <div class="card_body-form_column">
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="video_upload_date" placeholder="Дата загрузки видео" {% if "video_upload_date" in req_fields %}required{%endif%} value="{%if form.video_upload_date.value %}{{form.video_upload_date.value|date:"d.m.Y"}}{%endif%}">
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="video_check_date" placeholder="Дата проврки видео" {% if "video_check_date" in req_fields %}required{%endif%} value="{%if form.video_check_date.value %}{{form.video_check_date.value|date:"d.m.Y"}}{%endif%}">
            </div>
            {% endif %}
        </div>
        {%if pwr %}
        <div class="card_body-form" style="font-size: 12px;font-style: italic;padding: 0.3rem 0.3rem;">
            <div class="card_body-form_column">Создан: {{pwr.created}}</div>
            <div class="card_body-form_column">Автор: {{pwr.author}}</div>
        </div>
        {%endif%}
        {% if form.errors %}
        <div class="mb-card_errors">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <p class="error_txt"><i>{{ error }}</i></p>
                </div>
            {% endfor %}
            {% for field in form %}
                {% if field.errors %}
                <p class="error_txt">{{ field.label }}: {%for error in field.errors%}<i>{{ error }}</i>{% endfor %}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-card_footer" v-show="currentPersTab=='Person'">
            {% if 'staff' in request.path %}
                <div>
                    <label for="division">Оформление:</label>
                    <select name="division" id="division" class="form_input" required>
                        <option value="0" selected disabled>Оформление</option>
                        {% for division in divisions %}
                            <option value="{{ division.id}}" {% if pwr.division.id == division.id  %} selected {% endif %}>{{division.division_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="staff_status">Статус:</label>
                    <select name="staff_status" id="staff_status" class="form_input" required>
                        <option value="0" selected disabled>Статус сотрудника</option>
                        {% for staff_status in staff_statuses %}
                            <option value="{{ staff_status }}" {% if pwr.staff_status == staff_status  %} selected {% endif %}>{{staff_status}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <div class="mb-card_footer_left"></div>
            {%endif%}
            <button type="submit" class="btn_prim" name="personFormSave" form="personForm" v-show="isEditable">{%if pwr %}Обновить{% else %}Сохранить{% endif %}</button>
        </div>
    </form>
    
{% endblock %}