{% block person_form %}
    <div class="multitab-form_buttons">
        <a class="sidebar-menu_item" v-bind:class="{ active: currentPersTab=='Person'}" @click="changePersTab('Person')">Физ.лицо</a>
        <a class="sidebar-menu_item" v-bind:class="{ active: currentPersTab=='personScan'}" @click="changePersTab('personScan')">Сканы</a>
        <div class="top-border"></div>
        <div class="hint-box_unfilled">
            {% if owr_href %}
                <div class="input_wrapper"><a class="link" href="{% url owr_href.view obj_id=owr_href.view_id %}">Перейти к организации</a></div>
            {% endif %}
            <div class="input_wrapper">
            {% if owr_href or vitem_ready and vitem_id %}
                <i>Заявка заполнена</i>
            {% else %}
                Осталось заполнить:
                {% for field in unfilled %}
                <p class="error_txt form_input"><i>{{ field }}</i></p>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="hint-box_roles">
            <p class="form_input">Роли:</p>
            {% for role in roles %}
            <p class="form_input"><i>{{role.role}} ({{role.related_organization}})</i></p>
            {% endfor %}
        </div>
    </div>
    <form action="" method="post" id="personForm" v-show="currentPersTab=='Person'">
        {% csrf_token %}
        <div class="mb-card_body card_body-form">
            <div class="card_body-form_column">
                {% if "Ген. директор" not in page_title and "Бенефициар" not in page_title %}
                <select name="related_manager" class="form_input">
                    <option value="0" selected disabled>Менеджер</option>
                    {% for mngr in mngr_list %}
                        <option value="{{ mngr.id}}" {% if pwr.related_manager.id == mngr.id  %} selected {% endif %}>{{mngr}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <input class="form_input" type="text" name="last_name" placeholder="Фамилия" required value={%if form.last_name.value %}{{form.last_name.value}}{%endif%}>
                <input class="form_input" type="text" name="first_name" placeholder="Имя" required value={%if form.first_name.value %}{{form.first_name.value}}{%endif%}>
                <input class="form_input" type="text" name="patronymic" placeholder="Отчество" value={%if form.patronymic.value %}{{form.patronymic.value}}{%endif%}>
                <input class="form_input" type="text" name="prev_fio" placeholder="Предыдущие ФИО" value={%if form.prev_fio.value %}{{form.prev_fio.value}}{%endif%}>
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="dob" placeholder="Дата рождения" required value={%if form.dob.value %}{{form.dob.value|date:"d.m.Y"}}{%endif%}>
                <input class="form_input" type="text" name="pob" placeholder="Место рождения" value={%if form.pob.value %}{{form.pob.value}}{%endif%}>
                <input class="form_input" type="text" name="sneals" placeholder="СНИЛС" v-mask="'###-###-### ##'" v-model='sneals' {%if not owr or owr.organization.org_form == "ИП" and "Ген. директор" in page_title or "Бенефициар" not in page_title and "Ген. директор" not in page_title %}required{%endif%} pattern=".{14,}" title="Номер СНИЛС (14 символов)">
                <textarea class="form_input wide_textarea" type="text" name="adr_reg" placeholder="Адрес регистрации" {%if not owr%}required{%endif%}>{%if form.adr_reg.value %}{{form.adr_reg.value}}{%endif%}</textarea>
            </div>
            <div class="card_body-form_column">
                <input class="form_input" type="text" name="city" placeholder="Город" value={%if form.city.value %}{{form.city.value}}{%endif%}>
                <input class="form_input" type="text" name="phone_number" placeholder="Телефон" v-mask="'###########'" v-model='phone' {%if not owr%} required {%endif%} pattern=".{11,}" title="Номер телефона (11 цифр)">
                <input class="form_input" type="email" name="email" placeholder="Email" value={%if form.email.value %}{{form.email.value}}{%endif%}>
                <input class="form_input" type="text" name="pass_sn" placeholder="Серия/номер паспорта" v-mask="'#### ######'" v-model='pass_sn' {%if not owr%}required{%endif%} pattern=".{11,}" title="Серия и номер паспорта (11 символов)">
                <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="((this.value.length == 0) ? this.type='text': this.type='date')" name="pass_date" placeholder="Дата выдачи" value={%if form.pass_date.value %}{{form.pass_date.value|date:"d.m.Y"}}{%endif%}>
                <input class="form_input" type="text" name="pass_org" placeholder="Кем выдан" value={%if form.pass_org.value %}{{form.pass_org.value}}{%endif%}>
                <input class="form_input" type="text" name="pass_code" placeholder="Код подразделения" v-mask="'###-###'" v-model='pass_code' pattern=".{7,}" title="Код подразделения (7 символов)">
                <textarea class="form_input wide_textarea" type="text" name="adr_fact" placeholder="Адрес проживания">{%if form.adr_fact.value %}{{form.adr_fact.value}}{%endif%}</textarea>
            </div>
            <input type="hidden" name="role" value="{{pwr_role}}">
            {%if pwr %}
                <input type="hidden" name="id" value="{{pwr.person.id}}">
                <input type="hidden" name="author" value="{{pwr.person.author.id}}">
            {% else %}
                <input type="hidden" name="author" value="{{user.extendeduser.id}}">
            {% endif %}
            {%if owr %}
                <input type="hidden" name="owr_id" value="{{owr.id}}">
            {% endif %}
        </div>
        {%if pwr %}
        <div class="card_body-form" style="font-size: 12px;font-style: italic;padding: 0.3rem 0.3rem;">
            <div class="card_body-form_column">Создан: {{pwr.created}}</div>
            <div class="card_body-form_column">Автор: {{pwr.author}}</div>
        </div>
        {%endif%}
        {% if form.errors %}
        <div class="mb-card_errors">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <p class="error_txt"><i>{{ error }}</i></p>
                </div>
            {% endfor %}
            {% for field in form %}
                {% if field.errors %}
                <p class="error_txt">{{ field.label }}: {%for error in field.errors%}<i>{{ error }}</i>{% endfor %}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-card_footer" v-show="currentPersTab=='Person'">
            {% if owr %}
                <div class="mb-card_footer_left"></div>
                <input type="hidden" name="related_organization" value="{{owr.id}}">
            {% else %}
            <select name="related_organization" class="form_input">
                    <option value="0" selected disabled>Организация</option>
                {% for org in org_list %}
                    <option value="{{ org.id}}" {% if pwr.related_organization.id == org.id  %} selected {% endif %}>{{org.organization.full_name}}, {{org.role}}</option>
                {% endfor %}
            </select>
            {%endif%}
            <button type="submit" class="btn_prim" name="personFormSave" form="personForm" v-show="isEditable">{%if pwr %}Обновить{% else %}Сохранить{% endif %}</button>
        </div>

    </form>
    <div v-show="currentPersTab=='personScan'">
        {% if pwr %}
            {% include "verification/forms/common/scan_form.html" %}
        {% else %}
            <div class="input_wrapper">
                <p class="error_txt">Сначала заполните и сохраните данные физ.лица</p>
            </div>
        {% endif %}
    </div>
    
{% endblock %}