{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ page_title }}</title>
</head>
<body>
    <header>
        Header goes here
        <div class="user_box">
            {% if user.is_authenticated %}
                Здравствуйте, {{ user.last_name }} {{ user.first_name}}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </header>
    <aside class="sidebar">Sidebar goes gere</aside>
    <div class="mainbox">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>