{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <title>{{ page_title }}</title>
</head>
<body>
    <header>
        <h3><a href="{% url 'index' %}">Отдел верификации {{REQUEST}}</a></h3>
        <div class="user_box">
            {% if user.is_authenticated %}
                Здравствуйте, {{ user.last_name }} {{ user.first_name}}
                | <a class="link" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                | <a class="link" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </header>
    <aside class="sidebar">
        {% if user.is_authenticated %}
            <ul class="sidebar-menu">
                <!-- <li><a href="{% url 'create-item' %}" class="sidebar-menu_item {% if '/create-item' in request.path %}active{% endif %}">Создать заявку</a></li> -->
                <li class="sidebar-menu_legend">Статистика</li>
                <li><a href = "{% url 'vitem-list' param='q_all' %}" class="sidebar-menu_item">Всего заявок: {{stats.q_all.count}}</a></li>
                <li><a href = "{% url 'vitem-list' param='q_mine' %}" class="sidebar-menu_item">Мои заявки: {{stats.q_mine.count}}</a></li>
                {% if user.extendeduser.user_role.role_lvl <= 3 %}
                <li><a href = "{% url 'vitem-list' param='q_new' %}" class="sidebar-menu_item">Новые: {{stats.q_new.count}}</a></li>
                {% endif %}
                <li><a href = "{% url 'vitem-list' param='q_at_work' %}" class="sidebar-menu_item">В работе: {{stats.q_at_work.count}}</a></li>
                <li><a href = "{% url 'vitem-list' param='q_to_fix' %}" class="sidebar-menu_item">На доработке: {{stats.q_to_fix.count}}</a></li>
                <li><a href = "{% url 'vitem-list' param='q_fixed' %}" class="sidebar-menu_item">Доработано: {{stats.q_fixed.count}}</a></li>
                <li><a href = "{% url 'vitem-list' param='q_finished' %}" class="sidebar-menu_item">Закрыто: {{stats.q_finished.count}}</a></li>
                {% if user.extendeduser.user_role.role_lvl < 2 or user.extendeduser.user_role.role_lvl > 3 %}
                <li><a href = "{% url 'vitem-list' param='q_not_filled' %}" class="sidebar-menu_item top-border">Недозаполнено: {{stats.q_not_filled.count}}</a></li>
                {%endif%}
                {% if user.extendeduser.user_role.role_lvl <= 2 %}
                <li><a href="/admin" class="sidebar-menu_item top-border">Администрирование</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </aside>
    <div class="main-fixed-box">
        <!-- <div class="mainbox"> -->
            {% block content %}
            {% endblock content %}
        <!-- </div> -->
    </div>
    
</body>
</html>