{% extends "base.html" %}
{% block content %}
<div class="mb-card card_centered" id="app">

    <form action="agent" method="post">
    {% csrf_token %}
    <div class="mb-card_header">Новый агент</div>
    <div class="mb-card_body card_body-form">
        <div class="card_body-form_column">
            <input class="form_input" type="text" name="last_name" placeholder="Фамилия" required>
            <input class="form_input" type="text" name="first_name" placeholder="Имя" required>
            <input class="form_input" type="text" name="patronymic" placeholder="Отчество">
            <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" name="dob" placeholder="Дата рождения" required>
            <input class="form_input" type="text" name="pob" placeholder="Место рождения">
            <input class="form_input" type="text" name="sneals" placeholder="СНИЛС" v-mask="'###-###-### ##'" v-model='sneals' required>
            <textarea class="form_input wide_textarea" type="text" name="adr_reg" placeholder="Адрес регистрации" required></textarea>
        </div>
        <div class="card_body-form_column">
            <input class="form_input" type="text" name="phone_number" placeholder="Телефон" v-mask="'###########'" v-model='phone' required>
            <input class="form_input" type="email" name="email" placeholder="Email">
            <input class="form_input" type="text" name="pass_sn" placeholder="Серия/номер паспорта" v-mask="'#### ######'" v-model='pass_sn' required>
            <input class="form_input" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" name="pass_date" placeholder="Дата выдачи" required>
            <input class="form_input" type="text" name="pass_org" placeholder="Кем выдан" required>
            <input class="form_input" type="text" name="pass_code" placeholder="Код подразделения" v-mask="'###-###'" v-model='pass_code' required>
            <textarea class="form_input wide_textarea" type="text" name="adr_fact" placeholder="Адрес проживания"></textarea>
        </div>
        <input type="hidden" name="author" value="{{request.user.id}}">
    </div>
    {% if form.errors %}
    <div class="mb-card_errors">
        {% for field in form %}
            {% if field.errors %}
            <p class="error_txt">{{ field.label }}: <i>{{ field.errors }}</i></p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="mb-card_footer">
        <select name="related_organization" class="form_input" required>
            <option value="0" selected disabled>Организация</option>
            {% for org in org_list %}
                <option value="{{ org.organization.id}}">{{org.organization.full_name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn_prim">Сохранить</button>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
<script>
    Vue.use(VueMask.VueMaskPlugin)
    var app = new Vue({
        el: '#app',
        data: {
            sneals: '',
            phone: '',
            pass_sn: '',
            pass_code: '',
        }
    })
</script>
{% endblock %}