{% extends "base.html" %}
{% block content %}

    <div class="mb-card card_centered" style="background: #fff">
        <form action="item-selection" method="POST">
        {% csrf_token %}
        <div class="mb-card_header">Выберите тип объекта верификации</div>
        <div class="mb-card_body">
            <input type="hidden" name="create_stage" value="{{create_stage}}">
            <select name="item_type" v-model='itemType'>
            {% if user.extendeduser.user_role.role_name != "HR" %}
                <option value="agent">Агент</option>    
                <option value="partner">Партнер</option>
            {% endif %}
            {% if user.extendeduser.user_role.role_name == "HR" or user.extendeduser.user_role.role_name == "admin" %}
                <option value="staff">Сотрудник</option>
            {% endif %}
                <option value="counterparty">Контрагент</option>
            {% if user.extendeduser.user_role.role_lvl < 3 %}
                <option value="short-item">Короткая заявка</option>
            {%endif%}            
            </select>
        </div>
        <div class="mb-card_footer">
            <div class="mb-card_footer_left"></div>
            <button type="submit" class="btn_prim">Далее</button>
        </div>
        </form>
    </div>

{% endblock %}