{% extends "base.html" %}
{% block content %}
<form action="{% url 'vitem' vitem.id %}" method="POST" style="height: 100%;">{% csrf_token %}
<div class="scrolling_wrapper">
    <div class="gcard_vitem-view">
        <div class="gcard_vitem-view_header">
            Заявка на верификацию ({% firstof person.person_role organization.organization_role %})
        </div>
        <div class="gcard_vitem-view_itemform">
            <div class="mb-card_body card_body-form">
                {% if person %}
                <div class="card_body-form_column">
                    <div class="input_wrapper grid_row">ФИО: <p class="vitem_form_fields">{{ person.person.fio }}</p></div>
                    <div class="input_wrapper grid_row">Дата рождения: <p class="vitem_form_fields">{{ person.person.dob }}</p></div>
                    <div class="input_wrapper grid_row">Место рождения: <p class="vitem_form_fields">{{ person.person.pob }}</p></div>
                    <div class="input_wrapper grid_row">СНИЛС: <p class="vitem_form_fields">{{ person.person.sneals }}</p></div>
                    <div class="input_wrapper grid_row">Телефон: <p class="vitem_form_fields">{{ person.person.phone_number }}</p></div>
                    <div class="input_wrapper grid_row">Email: <p class="vitem_form_fields">{{ person.person.email }}</p></div>
                    <div class="input_wrapper grid_row">Организация: <p class="vitem_form_fields">{{ person.related_organization }}</p></div>
                    <div class="input_wrapper grid_row">Адрес регистрации: <p class="vitem_form_fields">{{ person.person.adr_reg }}</p></div>
                </div>
                <div class="card_body-form_column">
                    <div class="input_wrapper grid_row">Паспорт: <p class="vitem_form_fields">{{ person.person.pass_sn }}</p></div>
                    <div class="input_wrapper grid_row">Дата выдачи: <p class="vitem_form_fields">{{ person.person.pass_date }}</p></div>
                    <div class="input_wrapper grid_row">Кем выдан: <p class="vitem_form_fields">{{ person.person.pass_org }}</p></div>
                    <div class="input_wrapper grid_row">Код подразделения: <p class="vitem_form_fields">{{ person.person.pass_code }}</p></div>
                    <div class="input_wrapper grid_row">Дата создания: <p class="vitem_form_fields">{{ person.person.created }}</p></div>
                    <div class="input_wrapper grid_row">Автор: <p class="vitem_form_fields">{{ person.person.author.user.last_name }} {{ person.person.author.user.first_name }}</p></div>
                    <div class="input_wrapper grid_row">Адрес проживания: <p class="vitem_form_fields">{{ person.person.adr_fact }}</p></div>
                </div>
                {% else %}
        
                {% endif %}
            </div>
            <!-- FORM -->
            <div class="itemform_controls">
                <div class="itemform_controls_row">
                    {%if form.case_officer.value %}
                        Исполнитель: {{vitem.case_officer}}
                    {% else %}
                        {% if user.extendeduser.user_role.role_lvl < 3 %}
                        <button type="submit" class="btn_suc" name="btn_take_to">Принять в работу</button>
                        {% endif %}
                    {% endif %}
                    <div class="growing_block"></div>
                    <div class="input_wrapper"><p>Статус:
                        <select name="dias_status" {% if user.id != form.case_officer.value %} disabled {% endif %}>
                            <option value="Новая" {% if form.dias_status.value == 'Новая' %} selected {% endif %}>Новая</option>
                            <option value="В работе" {% if form.dias_status.value == 'В работе'  %} selected {% endif %}>В работе</option>
                            <option value="На доработке" {% if form.dias_status.value == "На доработке"  %} selected {% endif %}>На доработке</option>
                            <option value="Доработано" {% if form.dias_status.value == "Доработано"  %} selected {% endif %}>Доработано</option>
                            <option value="Одобрено" {% if form.dias_status.value == "Одобрено"  %} selected {% endif %}>Одобрено</option>
                            <option value="Одобрено, особый контроль" {% if form.dias_status.value == "Одобрено, особый контроль"  %} selected {% endif %}>Одобрено, особый контроль</option>
                            <option value="Отказ" {% if form.dias_status.value == "Отказ"  %} selected {% endif %}>Отказ</option>
                        </select></p>
                    </div>
                </div>

                {% if form.errors %}
                <div class="itemform_controls_row">
                    <div class="mb-card_errors">
                        {% for field in form %}
                            {% if field.errors %}
                            <p class="error_txt">{{ field.label }}: <i>{{ field.errors }}</i></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if form.case_officer.value == user.id %}
                {% if user.extendeduser.user_role.role_lvl < 3 %}
                <div class="itemform_controls_row">
                    <div class="txt_wrapper">
                        <textarea name="dias_comment" placeholder="Комментарий ДИАС"></textarea>
                    </div>
                </div>
                {% endif %}
                <div class="itemform_controls_row">
                    <div class="itemform_controls_row_btns">
                        {% if form.dias_status.value in 'Новая, В работе, На доработке, Доработано' %}
                            {% if form.to_fix.value == False %}
                                {% if user.extendeduser.user_role.role_lvl < 3 %}
                            <div class="input_wrapper"><button type="submit" class="btn_warn" name="btn_to_fix">На доработку</button></div>
                                {% endif %}
                            {% else %}
                            <div class="input_wrapper"><button type="submit" class="btn_suc" name="btn_fixed">Доработано</button></div>
                            {% endif %}
                        {% endif %}
                        <div class="input_wrapper"><button type="submit" class="btn_prim" name="btn_save">Сохранить</button></div>
                    </div>
                </div>
            {% endif %}
            <!-- FORM -->
            </div>
        </div>
        <div class="gcard_vitem_chatbox">
            <div class="chatbox_chat-window">
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                <div style="padding: 0.5rem;"></div>
            </div>
            <div class="chatbox_input_area">
                <div class="txt_wrapper">
                    <textarea name="chat_message" placeholder="Введите сообщение"></textarea>
                </div>
                <div class="input_wrapper"><button type="submit" class="btn_std" name="btn_add_comment">Отправить</button></div>
            </div>
        </div>
        <div class="gcard_vitem-view_table">
        {% if scan_q %}
            <table>
                <thead>
                    <th>ID объекта</th>
                    <th>Тип документа</th>
                    <th>Файл</th>
                    <th>Загружен</th>
                    <th>Автор</th>
                </thead>
                {% for item in scan_q %}
                <tr>
                    <td>{{item.model_id}}</td>
                    <td>{{item.doc_type}}</td>
                    <td><a class="link" target="_blank" href="{{ item.scan_file.url }}">{{ item.file_name }}</a></td>
                    <td>{{item.created}}</td>
                    <td>{{item.author.user.last_name}} {{item.author.user.first_name}}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="error_txt">No scans found</p>
        {% endif %}
        </div>
    </div>
</div>
</form>
{% endblock %}