{% extends "base.html" %}
{% block content %}
<form action="{% url 'vitem' vitem.id %}" method="POST" style="height: 100%;">{% csrf_token %}
<div class="scrolling_wrapper" id="app">
    <div class="gcard_vitem-view">
        <div class="gcard_vitem-view_header">
            <div class="input_wrapper">
            Заявка на верификацию&nbsp;({ vitemType })</div>
            <div style="flex:1;"></div>
            <div class="input_wrapper"><a class="link white-text" href="{% url edit_link.0 obj_id=edit_link.1 %}">Редактировать</a></div>
        </div>
        <div class="gcard_vitem-view_itemform">
            <div class="mb-card_body card_body-form">
                {% block form %}
                    <!-- БЛОК ФОРМЫ ЭЛЕМЕНТА -->
                {% endblock %}
            </div>
            <!-- FORM -->
            <div class="itemform_controls">
                <div class="itemform_controls_row">
                    {%if form.case_officer.value %}
                        Исполнитель: {{vitem.case_officer}}
                        <input type="hidden" name="case_officer" value="{{form.case_officer.value}}">
                    {% else %}
                        {% if user.extendeduser.user_role.role_lvl < 3 %}
                        <button type="submit" class="btn_suc" name="btn_take_to">Принять в работу</button>
                        {% endif %}
                    {% endif %}
                    <div class="growing_block"></div>
                    <div class="input_wrapper"><p>Статус:
                        <select name="dias_status" {% if user.id != form.case_officer.value %} disabled {% endif %}>
                            <option value="Новая" {% if form.dias_status.value == 'Новая' %} selected {% endif %}>Новая</option>
                            <option value="В работе" {% if form.dias_status.value == 'В работе'  %} selected {% endif %}>В работе</option>
                            <option value="На доработке" {% if form.dias_status.value == "На доработке"  %} selected {% endif %}>На доработке</option>
                            <option value="Доработано" {% if form.dias_status.value == "Доработано"  %} selected {% endif %}>Доработано</option>
                            <option value="Одобрено" {% if form.dias_status.value == "Одобрено"  %} selected {% endif %}>Одобрено</option>
                            <option value="Одобрено, особый контроль" {% if form.dias_status.value == "Одобрено, особый контроль"  %} selected {% endif %}>Одобрено, особый контроль</option>
                            <option value="Отказ" {% if form.dias_status.value == "Отказ"  %} selected {% endif %}>Отказ</option>
                        </select></p>
                    </div>
                </div>

                {% if form.errors %}
                <div class="itemform_controls_row">
                    <div class="mb-card_errors">
                        {% for field in form %}
                            {% if field.errors %}
                            <p class="error_txt">{{ field.label }}: <i>{{ field.errors }}</i></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if form.case_officer.value == user.id %}
                <div class="itemform_controls_row">
                    <div class="itemform_controls_row_btns">
                        {% if form.dias_status.value in 'Новая, В работе, На доработке, Доработано' %}
                            {% if form.to_fix.value == False %}
                                {% if user.extendeduser.user_role.role_lvl < 3 %}
                            <button v-show="false" type="submit" name="btn_to_fix" id="btn_to_fix">На доработку</button>
                            <div class="input_wrapper"><button type="button" class="btn_warn" v-on:click="needComment('btn_to_fix')">На доработку</button></div>
                                {% endif %}
                            {% else %}
                            <button v-show="false" type="submit" name="btn_fixed" id="btn_fixed">Доработано</button>
                            <div class="input_wrapper"><button type="button" class="btn_suc" v-on:click="needComment('btn_fixed')">Доработано</button></div>
                            {% endif %}
                        {% endif %}
                        <div class="input_wrapper"><button type="submit" class="btn_prim" name="btn_save">Сохранить</button></div>
                    </div>
                </div>
                {% endif %}
                {% if user.extendeduser.user_role.role_lvl <= 3 %}
                <div class="mb-card_body card_body-form">
                    <div class="card_body-form_column">
                        <div class="itemform_controls_row">
                            <legend>Паспорт недействителен:</legend>
                            <div class="input_wrapper">
                                <input type="radio" name="fms_not_ok" value="True" id="fms_true" {%if form.fms_not_ok.value == True %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="fms_true">Да</label>
                            </div>
                            <div class="input_wrapper">
                                <input type="radio" name="fms_not_ok"  value="False" id="fms_false" {%if form.fms_not_ok.value == False %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="fms_false">Нет</label>
                            </div>
                        </div>
                        <div class="itemform_controls_row">
                            <legend>Есть совпадения РосФинМониторинг:</legend>
                            <div class="input_wrapper">
                                <input type="radio" name="rosfin" value="True" id="rosfin_true" {%if form.rosfin.value == True %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="rosfin_true">Да</label>
                            </div>
                            <div class="input_wrapper">
                                <input type="radio" name="rosfin"  value="False" id="rosfin_false" {%if form.rosfin.value == False %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="rosfin_false">Нет</label>
                            </div>
                        </div>
                        <div class="itemform_controls_row">
                            <legend>Документы проверены:</legend>
                            <div class="input_wrapper">
                                <input type="radio" name="docs_full" value="True" id="docs_full_true" {%if form.docs_full.value == True %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="docs_full_true">Да</label>
                            </div>
                            <div class="input_wrapper">
                                <input type="radio" name="docs_full"  value="False" id="docs_full_false" {%if form.docs_full.value == False %} checked {% endif %}>
                            </div>
                            <div class="input_wrapper">
                                <label for="docs_full_false">Нет</label>
                            </div>
                        </div>
                        <div class="itemform_controls">
                            <div class="itemform_controls_row">
                                <div class="input_wrapper"><input type="checkbox" v-model="isCronos"></div>
                                <div class="txt_wrapper"><textarea name="cronos" placeholder="Информация по Кронос" :disabled="!isCronos">{{vitem.cronos}}</textarea></div>
                            </div>
                        </div>
                        <div class="itemform_controls_row">
                            <div class="input_wrapper"><input type="checkbox" v-model="isFSSP"></div>
                            <div class="txt_wrapper"><textarea name="fssp" placeholder="Информация по ФССП" :disabled="!isFSSP">{{vitem.fssp}}</textarea></div>
                        </div>
                        <div class="itemform_controls_row" v-show="vitemType == 'Партнер' || vitemType == 'Брокер'">
                            <div class="input_wrapper"><input type="checkbox" v-model="isConturFocus"></div>
                            <div class="txt_wrapper"><textarea name="contur_focus" placeholder="Информация по Контур Фокус" :disabled="!isConturFocus">{{vitem.contur_focus}}</textarea></div>
                        </div>
                    </div>
                    <div class="card_body-form_column">
                        <div class="itemform_controls_row" style="flex: 1;">
                            <div class="txt_wrapper"><textarea name="dias_comment" placeholder="Комментарий ДИАС">{{vitem.dias_comment}}</textarea></div>
                        </div>
                        <div class="itemform_controls_row">
                            <div class="input_wrapper"><input type="checkbox" v-model="isСourt"></div>
                            <div class="txt_wrapper"><textarea name="сourt" placeholder="Информация по судам" :disabled="!isСourt">{{vitem.сourt}}</textarea></div>
                        </div>
                        <div class="itemform_controls_row">
                            <div class="input_wrapper"><input type="checkbox" v-model="isBankruptcy"></div>
                            <div class="txt_wrapper"><textarea name="bankruptcy" placeholder="Информация по банкротсву" :disabled="!isBankruptcy">{{vitem.bankruptcy}}</textarea></div>
                        </div>
                        <div class="itemform_controls_row" v-show="vitemType == 'Контрагент'">
                            <div class="input_wrapper"><input type="checkbox" v-model="isAffiliation"></div>
                            <div class="txt_wrapper"><textarea name="affiliation" placeholder="Аффилированность" :disabled="!isAffiliation">{{vitem.affiliation}}</textarea></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            <!-- FORM -->
            </div>
        </div>
        <div class="gcard_vitem_chatbox">
            <div class="chatbox_chat-window">
                {% for msg in msgs %}
                    <div class="chatbox_chat-message {% if msg.author.user.id == user.id %} from-msg {% else %} to-msg {% endif %}">
                        <p class="msg-header">{{ msg.created }}</p>
                        <p class="msg-body">{{ msg.msg }}</p>
                        <p class="msg-footer">{{ msg.author }}</p>
                    </div>
                {% endfor %}
                <div style="padding: 0.5rem;"></div>
            </div>
            <div class="chatbox_input_area">
                <div class="txt_wrapper">
                    <textarea name="chat_message" placeholder="Введите сообщение"></textarea>
                </div>
                <div class="input_wrapper"><button type="submit" class="btn_std" name="btn_add_comment" id="btn_add_comment">Отправить</button></div>
            </div>
        </div>
        <div class="gcard_vitem-view_table">
        {% if scan_q %}
            <table>
                <thead>
                    <th>ID объекта</th>
                    <th>Тип документа</th>
                    <th>Файл</th>
                    <th>Загружен</th>
                    <th>Автор</th>
                </thead>
                {% for item in scan_q %}
                <tr>
                    <td>{{item.model_id}}</td>
                    <td>{{item.doc_type}}</td>
                    <td><a class="link" target="_blank" href="{{ item.scan_file.url }}">{{ item.file_name }}</a></td>
                    <td>{{item.created}}</td>
                    <td>{{item.author.user.last_name}} {{item.author.user.first_name}}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="error_txt">No scans found</p>
        {% endif %}
        </div>
    </div>
    <div class="modal_form" v-if="showModal">
        <div class="mb-card" style="background: #fff; margin-top: 30vh;">
            <div v-model="btnName" v-show="false"></div>
            <div class="mb-card_header">Укажите причины/комментарий:</div>
            <div class="mb-card_body">
                <div class="txt_wrapper"><textarea name="fix_comment" v-model="msgText"></textarea></div>
            </div>
            <div class="mb-card_footer">
                <div class="mb-card_footer_left"></div>
                <div class="input_wrapper"><button type="button" name  class="btn_prim" v-on:click="sendFromModal()">Отправить</button></div>
                <div class="input_wrapper"><button type="button" class="btn_warn" v-on:click="closeModal()">Закрыть</button></div>
            </div>
        </div>
    </div> 
</div>
</form>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['{', '}'],
        data: {
            showModal: false,
            btnName: '',
            msgText: '',
            isCronos: (('{{form.cronos.value}}'.length)? true: false),
            isFSSP: (('{{form.fssp.value}}'.length)? true: false),
            isConturFocus: (('{{form.contur_focus.value}}'.length)? true: false),
            isСourt: (('{{form.сourt.value}}'.length)? true: false),
            isBankruptcy: (('{{form.bankruptcy.value}}'.length)? true: false),
            isAffiliation: (('{{form.affiliation.value}}'.length)? true: false),
            vitemType: '{% firstof person.person_role organization.organization_role %}',

        },
        methods: {
            needComment: function(sendBtnName){
                this.showModal = true;
                this.btnName = sendBtnName;
            },
            sendFromModal: function(){
                sub_btn = document.getElementById(this.btnName)
                if (this.msgText.length > 0){
                    sub_btn.click();
                }else{
                    alert("Введите причины/комментарий");
                };
            },
            closeModal: function(){
                this.showModal = false;
            },
        },
    })
</script>
{% endblock %}