{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row-conteiner" id="vuePart">
    <div class="mb-card card_centered">
        <div class="mb-card_header">
            {%if object_title %}
            <div class="input_wrapper">
                {{ object_title }} ({{ page_title }})
            </div>
            {% else %}
            <div class="input_wrapper">
                {{ page_title }}
            </div>
            {%endif%}
            
            <div style="flex:1;"></div>
            <div class="input_wrapper flex_row">
                {% if vitem_id %}
                <a class="link white-text" href="{% url 'vitem' vitem_id=vitem_id %}">Перейти к заявке</a>
                {% elif not owr_href %}
                Заявка не заполнена
                {%endif%}
            </div>
        </div>
        <div class="multitab-form">
            {% block object_form %}
            {% endblock %}
        </div>
    </div>
    <div class="modal_form" v-if="showModal">
        <div class="mb-card" style="background: #fff">
            <div class="mb-card_header">Найден дубликат:</div>
            <div class="mb-card_body">
                <div class="txt_wrapper">
                    <p>Найден совпадающий объект: {{twins.first}}</p>
                    {% for field in form %}
                        {% if field.errors %}
                        {%for error in field.errors%}
                            <p class="error_txt"><i>{{ error }}</i></p>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <p>Повторная верификация не нужна.</p>
                </div>
            </div>
            <div class="mb-card_footer">
                <div class="mb-card_footer_left"></div>
                
                <div class="input_wrapper"><button type="button" class="btn_std" v-on:click="fixNewObject()">Ок, все понятно</button></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/v-mask.min.js' %}"></script>

<script>
    Vue.use(VueMask.VueMaskPlugin);
    var app = new Vue({
        el: '#vuePart',
        delimiters: ['{', '}'],
        data: {
            sneals: '{{form.sneals.value}}',
            phone: '{{form.phone_number.value}}',
            pass_sn: '{{form.pass_sn.value}}',
            pass_code: '{{form.pass_code.value}}',
            inn: '{{form.inn.value}}',
            ogrn: '{{form.ogrn.value}}',
            currentOrgTab: 'Organization',
            currentPersTab: 'Person',
            scanFile: '',
            scanType: 'Тип документа',
            isEditable: {% if user.extendeduser.user_role == owr.author.user_role or user.extendeduser.user_role == pwr.author.user_role and dias_status in 'Новая,На доработке' or dias_status == None or user.extendeduser.user_role.role_lvl == 1 %}true{%else%}false{%endif%},
            showModal: {% if twins %}true{% else %}false{% endif %},
            btnName: '',
        },
        methods:{
            changePersTab:function(tabName){
                this.currentPersTab = tabName;
            },
            changeOrgTab:function(tabName){
                this.currentOrgTab = tabName;
            },
            fixNewObject:function(){
                this.showModal = false;
            },
            sendFound:function(){
                this.showModal = false;
            },
        }
    });
</script>

{% endblock %}